<ion-view title="Chat" ng-controller="RoomController as room_ctrl" class="background chat edit_profile">
  <header class="bar bar-header bar-positive item-input-inset">
    <h1 class="title"></h1>
    
  </header>
  <ion-content class="padding">
    <button class="button button-assertive button-new" ng-click="leaveRoom()">Leave</button>
    <div class="list" ng-if="room_ctrl.messages.length > 0">
        <li class="item item-text-wrap no-border gray_chat_box_new {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in room_ctrl.messages">
            <div class="msg">
                <div class="details padding">
                    <p>
                        <div class="user">{{ msg.user }}</div>
                        <div class="message">{{ msg.text }}</div>
                    </p>
                    <small>{{ humanize(msg.time) }}</small>
                </div>
            </div>
        </li>
    </div>

    <!-- <div class="card" ng-if="!room_ctrl.messages.length">
      <div class="item item-text-wrap">
        No messages yet.
      </div>
    </div> -->
  </ion-content>
	<center>
		<footer class="bar bar-footer bar-positive item-input-inset margin-bottom10">
			<div class="col col-80">
		    <label class="item item-input item-floating-label">
		      <input type="text" id="message" name="message" ng-model="room_ctrl.message" placeholder="Type message" class="full-width">
		    </label>
	    </div>
	    <div class="col col-20">
	    	<a class="button button-icon icon ion-android-send" ng-click="sendTextMessage()"></a>
	    </div>
		</footer>
	</center>
</ion-view>

