<ion-view>
	<ion-side-menus>
		<ion-side-menu-content>
			<ion-nav-bar class="bar bar-positive bar-stable" menu-toggle="left">
	      <ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon " >
	        </button>
	      </ion-nav-buttons>
    	</ion-nav-bar>
			<ion-nav-view></ion-nav-view>
		</ion-side-menu-content>
		<ion-side-menu side="left">
			<ion-content>
				<center>
			    <div class="col-100 side_menu1">
			      <center>
		  				<div class="user_image margintop20">
		  					<img width="100%" ng-src="{{loggedInUser.image}}">
		  				</div>
		  				<i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in loggedInUser.rating track by $index"></i>
            	<i class="icon ion-android-star-outline color_white" ng-if="rate == 0" ng-repeat="rate in loggedInUser.rating track by $index"></i>
				      <h5 class="color_white">{{loggedInUser.firstname}} {{loggedInUser.lastname}}</h5>
		  			</center>
			      <ion-list>
			        <ion-item menu-close ng-if="loggedInUser.type == 'Teacher'" ui-sref="teacherHome">
			          <i class="ion-android-home"></i> {{'home' | translate}}
				      </ion-item>
				      <ion-item menu-close ng-if="loggedInUser.type == 'Student'" ui-sref="studentHome">
			          <i class="ion-android-home"></i> {{'home' | translate}}
				      </ion-item>
			        <ion-item menu-close ui-sref="search">
			          <i class="ion-ios-search-strong"></i> {{'search' | translate}}
			        </ion-item>
			        <!-- <ion-item menu-close ui-sref="chat">
			          <i class="ion-ios-chatboxes"></i> {{'chat' | translate}}
			        </ion-item> -->
			        <ion-item menu-close ng-if="loggedInUser.type == 'Teacher'" ui-sref="scheduleClass" class="text-left">
			          <i class="ion-ios-time-outline"></i> {{'schedule_class' | translate}} 
			        </ion-item>
			        <ion-item menu-close ng-if="loggedInUser.type == 'Teacher'" class="text-left">
				        <i class="ion-ios-book" ui-sref="courses"></i> {{'courses' | translate}} 
				      </ion-item>
				      <ion-item menu-close ui-sref="profile">
				        <i class="ion-edit"></i> {{'profile' | translate}}
				      </ion-item>
				      <ion-item menu-close ng-click="logout()" class="text-left">
				        <img src="img/logout.png" class="logout_icon"> <p class="logout_content color_white">{{'logout' | translate}}</p>
				      </ion-item>
			      </ion-list>
		      </div>
		    </center>
			</ion-content>
		</ion-side-menu>
	</ion-side-menus>
</ion-view>





