<ion-view class="background forgot">
	<ion-content class="padding">
 		<center>
 			<a ui-sref="login"><i class="ion-android-arrow-back"></i></a>
		 	<h4 class="hadiing">{{'forget' | translate}}</h4>
		 	<div class="col col-90">
	 			<form name="forgetPasswordForm" role="form" novalidate>
	 			<h4 class="hadiing"></h4>
				<img src="img/logo.png" class="margintop20">
				<div class="position margintop20">
	      	<label class="item item-input item-floating-label">
	    			<input type="email" name="email" placeholder="{{'email' | translate}}" ng-model="oldUser.email" required>
	  			</label>
	  			<span class="red_error" ng-show="forgetPasswordForm.email.$touched && forgetPasswordForm.email.$error.required">{{'email_required_error' | translate}}.</span>
          <span class="red_error" ng-show="forgetPasswordForm.email.$touched && forgetPasswordForm.email.$error.email">{{'email_type_error' | translate}}.</span>
          <span class="red_error" ng-show="forgetpassworderror">{{forgetpasswordmessage}}.</span>
				  <div class="position_ab">
				  	<img src="img/email.png">
				  </div>  
	  		</div> 
	  		<a class="button button-assertive radies" ng-disabled="!forgetPasswordForm.$valid" ng-click="forgetPassword()">
				  {{'submit' | translate}}
				</a> 
			</div>
 		</center> 
	</ion-content>
</ion-view>
