<ion-view class="background">
  <ion-content class="padding">
    <center>
      <div class="col col-90 float-none">
        <h4 class="hadiing">{{'login' | translate}}</h4>
        <img src="img/logo.png" class="margintop20">
        <form name="loginForm" role="form" novalidate>
          <div class="position margintop20">
            <label class="item item-input item-floating-label">
              <input type="email" name="email" ng-pattern="emailFormat" placeholder="{{'email' | translate}}" ng-model=user.email required>
            </label>
            <span class="red_error" ng-show="loginForm.email.$touched && loginForm.email.$error.required">{{'email_required_error' | translate}}.</span>
            <span class="red_error" ng-show="loginForm.email.$touched && loginForm.email.$error.email && loginForm.email.$error.pattern">{{'email_type_error' | translate}}.</span>
            <div class="position_ab">
              <img src="img/email.png">
            </div>  
          </div> 
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="password" name="password" placeholder="{{'password' | translate}}" ng-model=user.password required>
            </label>
            <span class="red_error" ng-show="loginForm.password.$touched && loginForm.password.$error.required">{{'password_required_error' | translate}}.</span>
            <div class="position_ab">
              <img src="img/password.png">
            </div>  
          </div>
          <a class="button button-assertive radies" ng-click="login()" ng-disabled="!loginForm.$valid">
            {{'login' | translate}}
          </a> 
          <div class="margintop20 text-align-center">
           <p><a ui-sref="forgotPassword">{{'forgot_password' | translate}} ?</a></p>
           <p ><a ui-sref="signup">{{'signup' | translate}}</a></p>
          </div>
        </form>
      </div>
    </center>
  </ion-content>
</ion-view>



