
<ion-view view-title="{{'Change Password' | translate}}" class="background password">
  <ion-content class="padding">
    <center>
      <div class="col col-90 flot_none">
        <center>
          <div class="user_image">
            <img width="100%" ng-src="{{loggedInUser.image}}">
          </div>
          <i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in loggedInUser.userStarRating track by $index"></i>
          <i class="icon ion-android-star-outline color_white" ng-if="rate == 0" ng-repeat="rate in loggedInUser.userStarRating track by $index"></i>
        </center>
        <div class="position margintop20">
          <label class="item item-input item-floating-label">
            <input type="password" placeholder="{{'Old Password' | translate}}" >
          </label>
          <div class="position_ab">
            <img src="img/password.png">
          </div>  
        </div>
        <div class="position">
          <label class="item item-input item-floating-label">
            <input type="password" placeholder="{{'New Password' | translate}}">
          </label>
          <div class="position_ab">
            <img src="img/password.png">
          </div>  
        </div>
        <div class="position">
          <label class="item item-input item-floating-label">
            <input type="password" placeholder="{{'Confirm Password' | translate}}">
          </label>
          <div class="position_ab">
            <img src="img/password.png">
          </div>  
        </div>
        <a class="button button-assertive radies waves-effect waves-ligh" href="">
          {{'submit' | translate}}
        </a> 
      </div>
    </center> 
  </ion-content>
</ion-view>
