<ion-view class="background sign_up">
  <ion-content class="padding">
    <center>
      <a ui-sref="login"><i class="ion-android-arrow-back"></i></a>
      <h4 class="hadiing">{{'SIGN UP' | translate}}</h4>
      <div class="col col-90">
        <img src="img/logo.png" class="margintop20">
        <form name="signupForm" role="form" novalidate>
          <div class="position margintop20">
            <label class="item item-input item-floating-label">
              <input type="text" name="fname" placeholder="{{'first_name' | translate}}" ng-model="newUser.firstname" required>
            </label>
            <span class="red_error" ng-show="signupForm.fname.$touched && signupForm.fname.$error.required">{{'first_name_required_error' | translate}}.</span>
            <div class="position_ab">
              <img src="img/user.png">
            </div>  
          </div>
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="text" name="lname" placeholder="{{'last_name' | translate}}" ng-model="newUser.lastname" required>
            </label>
            <span class="red_error" ng-show="signupForm.lname.$touched && signupForm.lname.$error.required">{{'last_name_required_error' | translate}}.</span>
            <div class="position_ab">
              <img src="img/user.png">
            </div>  
          </div>
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="text" name="username" placeholder="{{'user_name' | translate}}" ng-model="newUser.username" required>
            </label>
            <span class="red_error" ng-show="signupForm.username.$touched && signupForm.username.$error.required">{{'user_name_required_error' | translate}}.</span>
            <div class="position_ab">
              <img src="img/user.png">
            </div>  
          </div>
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="email" name="email" placeholder="{{'email' | translate}}" ng-model="newUser.email" required>
            </label>
            <span class="red_error" ng-show="signupForm.email.$touched && signupForm.email.$error.required">{{'email_required_error' | translate}}.</span>
            <span class="red_error" ng-show="signupForm.email.$touched && signupForm.email.$error.email">{{'email_type_error' | translate}}.</span>
            <div class="position_ab">
              <img src="img/email.png">
            </div>  
          </div>
          <style type="text/css">
            .position {
              display: inline-block;
              position: relative;
              width: 100%;
            }
            .list {
              float: left;
              width: 100%;
            }
          </style>
          <div class="position">
          <div class="list">
          <div class="position_ab" style="position: relative; top: 8px; margin-right: 4px;">
              <img src="img/user.png">
            </div> 
            <!-- <label class="item item-input item-floating-label"> -->
              <select ng-model="newUser.type" style="width: 80%; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding-bottom: 4px; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none;">

                <option value='Teacher'>{{'Teacher' | translate}}</option>
                <option value='Student'>{{'Student' | translate}}</option>
              </select>
            <!-- </label> -->
           </div>
             
          </div>
          <!-- <div class="position">
            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                 Teacher/Student
                </div>
                <select ng-model="newUser.type">
                  <option value='Teacher'>{{'Teacher' | translate}}</option>
                  <option value='Student'>{{'Student' | translate}}</option>
                </select>
              </label>
            </div>
            <div class="position_ab">
              <img src="img/user.png">
            </div>  
          </div> -->
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="password" name="password" placeholder="{{'password' | translate}}" ng-model="newUser.password" min="3" required>
            </label>
            <span class="red_error" ng-show="signupForm.password.$touched && signupForm.password.$error.required">{{'password_required_error' | translate}}.</span>
            <span class="red_error" ng-show="signupForm.password.$error.min">min 3 charecter.</span>
            <div class="position_ab">
              <img src="img/password.png">
            </div>  
          </div>
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="password" name="confirmPassword" placeholder="{{'confirm_password' | translate}}" ng-model="newUser.confirmPassword" ng-blur="blur()" required>
            </label>
            <span class="red_error" ng-show="signupForm.confirmPassword.$touched && signupForm.confirmPassword.$error.required">{{'confirm_password_required_error' | translate}}.</span>
            <span class="red_error" ng-show="signupForm.confirmPassword.$touched && newUser.password != newUser.confirmPassword">{{'confirm_password_mismatch' | translate}}.</span>
            <div class="position_ab">
              <img src="img/password.png">
            </div>  
          </div>
          {{$scope.matchPassword}}
          <a class="button button-assertive radies" ng-click="signup()" ng-disabled="!signupForm.$valid && newUser.confirmPassword ==newUser.confirmPassword">
            {{'sign_up' | translate}}
          </a> 

        </form> 
      </div>
    </center>
  </ion-content>
</ion-view>





