<ion-view view-title="{{'Detail' |translate}}" class="background">
  <ion-content class="padding">
    <div class="col col-100">
    <center>
      <div class="user_image">
        <img width="100%" ng-src="{{selectedUser.image}}">
      </div>
      <i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in selectedUser.rating track by $index"></i>
      <i class="icon ion-android-star-outline color_white" ng-if="rate == 0" ng-repeat="rate in selectedUser.rating track by $index"></i>
      <h5 class="color_white">{{selectedUser.firstname}} {{selectedUser.lastname}}</h5>
    </center>
    <!-- <div class="white_box">
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, </p>
    </div> -->
    <ion-list>
      <div ng-repeat="group in groups" class="margintop20 detail_background">
        <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}" style="background-color: honeydew; text-align: center;">
          &nbsp;
          {{group.name}}
        </ion-item>
        <ion-item class="item-accordion item-border detail_background" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
          <div class="col col-20">
            <img src="img/student.png">
          </div>
          <div class="col col-80">
            <div class="col-50">
              <h2>{{item.student}}</h2>
            </div>
            <div class="pull-right">
              <div class="col-50">
                <i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in item.rate track by $index"></i>
                <i class="icon ion-android-star-outline color_grey" ng-if="rate == 0" ng-repeat="rate in item.rate track by $index"></i>
              </div>
            </div>
          </div>
          <!-- <div class="full-width col-90">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
          </div> -->
        </ion-item>
      </div>
    </ion-list>
    <!-- <div class="full-width">
      <a class="button button-full button-assertive waves-effect waves-light" ng-click="request(loggedInUser.username)" ng-if="!isRequested">Request</a>
    </div>
    <div class="full-width">
      <a class="button button-full button-assertive waves-effect waves-light" ng-disabled="true" ng-if="isRequested && !getRequestInfo.response">Requested</a>
    </div>
    <div class="full-width">
      <a class="button button-full button-assertive waves-effect waves-light" ng-disabled="true" ng-if="getRequestInfo.response"><timer end-time="getRequestInfo.response">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></a>
    </div>
    1481913000000 -->
    <div class="full-width">
      <a class="button button-full button-assertive waves-effect waves-light" ng-click="startChat(loggedInUser.username)">CONNECT</a>
    </div>
    </div> 
  </ion-content>
</ion-view>
