<ion-view view-title="{{'Profile' | translate}}" >
  <div class="background edit_profile">
    <ion-content class="padding" scroll="true">
      <div class="edit_profile_icon">
        <div ng-if="!disabledPencil" ng-click="editProfile()" >
          <i class="ion-edit"></i>
        </div>
        <div ng-if="!disabledTick" ng-click="saveChanges()">
          <img src="img/done.png" >  
        </div>
      </div>
      <center>
        <div class="col col-90 flot_none">
          <center>
            <div class="position">
              <div class="user_image">
                <img width="100%" ng-src="{{loggedInUser.image}}">
              </div>
              <div class="position_camera" ng-click="uploadImage()">
              <img src="img/camera.png">
            </div>
            </div>
            <i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in loggedInUser.rating track by $index"></i>
            <i class="icon ion-android-star-outline color_white" ng-if="rate == 0" ng-repeat="rate in loggedInUser.rating track by $index"></i>
            <!-- <i class="{{rate}}" ng-repeat="rate in loggedInUser.rating track by $index"></i> -->
          </center>
          <div class="position margintop20">
            <label class="item item-input item-floating-label disabled">
              <input type="text" name="firstname" ng-model="loggedInUser.firstname" placeholder="{{'first_name' | translate}}"  ng-disabled="disabledText" >
            </label>
            <div class="position_ab">
              <img src="img/user.png">
            </div>  
          </div>
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="text" name="lastname" ng-model="loggedInUser.lastname" placeholder="{{'last_name' | translate}}" ng-disabled="disabledText">
            </label>
            <div class="position_ab">
              <img src="img/user.png">
            </div>  
          </div>
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="text" name="username" ng-model="loggedInUser.username" placeholder="{{'user_name' | translate}}" ng-disabled="disabledText">
            </label>
            <div class="position_ab">
              <img src="img/user.png">
            </div>  
          </div>
          <div class="position">
            <label class="item item-input item-floating-label">
              <input type="text" name="email" ng-model="loggedInUser.email" placeholder="{{'Email Address' | translate}}" ng-disabled="disabledText">
            </label>
            <div class="position_ab">
              <img src="img/email.png">
            </div>  
          </div>
          <div class="position" ng-click="getLocation()" ng-disabled="disabledText">
            <label class="item item-input item-floating-label">
              <input type="text" name="address" ng-model="loggedInUser.address" placeholder="{{'Address' | translate}}" ng-disabled="disabledText">
            </label>
            <div class="position_ab">
              <img src="img/location.png" class="location_icon">
            </div>  
          </div>
          <form ng-if="loggedInUser.type == 'Teacher'">
            <p ng-repeat="course in courses track by $index">
              <input type="checkbox" id="course">
              <label for="course">{{course}}</label>
            </p>
            <!-- <p>
              <input type="checkbox" id="test2" />
              <label for="test2">Chemistry</label>
            </p>
            <p>
              <input type="checkbox" id="test3" />
              <label for="test3">Maths</label>
            </p> -->
          </form>
          <a class="button button-clear button-light" ng-if="!disabledText" ui-sref="changePassword">
            {{'CHANGE PASSWORD' | translate}}
          </a>
          <a class="button button-assertive radies waves-effect waves-ligh" ng-if="!disabledText" ng-click="updateProfile()">
            {{'submit' | translate}}
          </a> 
        </div>
      </center> 
    </ion-content>
  </div>
</ion-view>


