<ion-view view-title="{{'Rate The Student' | translate}}" class="background home">
	<ion-content class="padding" style="padding-top: 29%;">
		<style type="text/css">
			.star
			{
				float: right;
			}
			
			.star .icon.ion-android-star-outline.color_white .icon.ion-android-star.gold
			{

				font-size: 26px;
			}
			.star_reting 			{
			 	font-size: 20px;
			 	color: white;
			 	padding-bottom: 11%;
			}
			span{
				font-size: 17px;
			}
		</style>
		<div class="col-100 star_reting">
			<div class="col-50">
				<span>{{'Actitud_Ability' | translate}}</span>
			</div>
			<div class="star">
				<i class="icon {{isSelected}}" ng-repeat="isSelected in actitudAbility track by $index" ng-click="selectStarActitudAbility(isSelected, $index)"></i>
			</div>
		</div>
		
		<div class="col-100 star_reting">
			<div class="col-50">
				<span>{{'Force_Skill' | translate}}</span>
			</div>
			<div class="star">
				<i class="icon {{isSelected}}" ng-repeat="isSelected in forceSkill track by $index" ng-click="selectStarForceSkill(isSelected, $index)"></i>
			</div>
		</div>
		
		<div class="col-100 star_reting">
			<div class="col-50 ">
				<span>{{'Puntuality' | translate}}</span>
			</div>
			<div class="star">
				<i class="icon {{isSelected}}" ng-repeat="isSelected in puntuality track by $index" ng-click="selectStarPuntuality(isSelected, $index)"></i>
			</div>
		</div>
		
		<div class="col-100">
		<a class="button button-assertive radies" ng-click="rateStudent()">
      {{'submit' | translate}}
    </a> 
    </div>
	</ion-content>
</ion-view>