<ion-view view-title="{{'Rate The Teacher' | translate}}" class="background home">
	<ion-content class="padding" style="padding-top: 29%;">
		<style type="text/css">
			.star
			{
				float: right;
			}
			
			.star .icon.ion-android-star-outline.color_white .icon.ion-android-star.gold
			{

				font-size: 26px;
			}
			.star_reting 			{
			 	font-size: 20px;
			 	color: white;
			 	padding-bottom: 11%;
			}
		</style>
		<div class="col-100 star_reting">
			
			<!-- <div class="list"> -->

			  <label class="list item item-input item-select item-floating-label">
			    <div class="input item-input item-floating-label">
			      {{'Subject' | translate}}: 
			    </div>
			    <select class="item-floating-label" ng-model=teacher.course style="border-width: medium medium 1px; border-style: none none solid;  border-image: none;">
			      <option ng-repeat="course in selectedUser.courses" value="{{course}}">{{course}}</option>
			    </select>
			  </label>

			<!-- </div> -->
		</div>
		<div class="col-100 star_reting">
			<div class="col-50">
				<span>{{'Patience' | translate}}</span>
			</div>
			<div class="star">
				<i class="icon {{isSelected}}" ng-repeat="isSelected in patience track by $index" ng-click="selectStarPatience(isSelected, $index)"></i>
			</div>
		</div>
		<div class="col-100 star_reting">
			<div class="col-50">
				<span>{{'Explanation' | translate}}</span>
			</div>
			<div class="star">
				<i class="icon {{isSelected}}" ng-repeat="isSelected in explanation track by $index" ng-click="selectStarExplanation(isSelected, $index)"></i>
			</div>
		</div>
		<div class="col-100 star_reting">
			<div class="col-50">
				<span>{{'Punctual' | translate}}</span>
			</div>
			<div class="star">
				<i class="icon {{isSelected}}" ng-repeat="isSelected in punctual track by $index" ng-click="selectStarPunctual(isSelected, $index)"></i>
			</div>
		</div>
		<div class="col-100 star_reting">
			<div class="col-50">
				<span>{{'Ability' | translate}}</span>
			</div>
			<div class="star">
				<i class="icon {{isSelected}}" ng-repeat="isSelected in ability track by $index" ng-click="selectStarAbility(isSelected, $index)"></i>
			</div>
		</div>
		<div class="col-100 star_reting">
		<a class="button button-assertive radies" ng-click="rateTeacher()">
      {{'submit' | translate}}
    </a> 
    </div>
	</ion-content>
</ion-view>
