<ion-view view-title="{{'home' | translate}}" class="background home">
	<ion-content class="padding">
		<div ng-init="getRequest()">
			<div>
				<ion-list>
					<ion-item ng-repeat="request in requests" style="background: transparent;">
						<div class="center">
							<div class="left">{{request.requestedByName}}</div>
							<div class="center"><input type="text" ng-model="response.status" style="background: transparent;">{{'Set Time' | translate}}</button></div> 
							<div class="right"><button ng-click="updateResponse(request)" style="background: transparent;">{{'Update' | translate}}</button></div>
						</div>
					</ion-item>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>