.background
{
	background:url("../img/background.png") no-repeat 100% 100%;
	display:inline-block;
	width:100%;
	height:100%;
	background-size:cover;
}
.hadiing
{
	color:#fff;
	font-size:20px;
	font-weight:bold;
}
.margintop20
{
	margin-top:20px;
}
.position
{
	position:relative;
}
.position_ab
{
	 display: inline-block;
    left: 0;
    position: absolute;
    top: 16px;
}
.background .item-floating-label
{
	    background-color: transparent;
    border: medium none;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.background .input-label
{
	color:#fff;
	text-align:left;
}
input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea
{
	color:#fff;
	border-color:#fff;
}
.padding_left38
{
	padding-left:38px;
}
.position_ab img
{
	width:17px;
}
.button-assertive
{
	background:#4eaea6 !important;
	border:1px solid #4eaea6 !important;
}
.radies
{
	border-radius:40px;
	margin-top:20px;
	width:100%;
}
.background .col-90 p
{
	display:inline-block;
	color:#fff;
	margin:0px;
	padding:4px 0px;
	width:100%;
}
.background .col-90 p a
{
	display:inline-block;
	font-size:16px;
	color:#fff;
	width: 100%;
	text-align: center;
	
}
.pull-right
{
	float:right;
}
.marginleft10
{
		margin-left:10px;
}
.sign_up
{
	display:inline-block;
	width:100%;
}
.sign_up h4
{
margin:0px;
display:inline-block;
}
.sign_up .ion-android-arrow-back
{
	float:left;
	color:#fff;
	font-size:20px;
}
.sign_up .item-input
{
	background:transparent;
}

.sign_up .item-select::after
{
	color:#fff;
}
.sign_up .item-select
{
	border:0px;
	border-bottom:1px solid #fff;
}
.sign_up .item-select .input-label
{
	padding-left:10px;
}
.forgot
{
	display:inline-block;
	width:100%;
}
.forgot h4
{
margin:0px;
display:inline-block;
}
.forgot .ion-android-arrow-back
{
	float:left;
	color:#fff;
	font-size:20px;
}
.bar
{
	display:inline-block;
	position:fixed;
	color:#fff;
}
.title.title-center.header-item
{
	left:0px !important;
}
.full-width
{
	width:100%;
	display:inline-block;
}
.form-control
{
	background:transparent;
	border:1px solid #fff;
	color:#fff;
	border-radius:4px;
	width:100%;
	padding:8px 4px;
}
.margintop10
{
	margin-top:10px;
}
.position_search
{
	 color: #fff;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 10px;
    z-index: 1000;
}
.position_search img
{
	width:20px;
}
.gold
{
	color:#efce4a;
}
.home
{
}
.home .item p
{
	font-size: 10px;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: unset;
    white-space: normal;
}
.gray
{
	background:#dddddd;
}
.previous-title
{
	display:none !important;
}
.button.back-button.buttons.no-text.ion-android-arrow-back.header-item
{
	font-size:24px;
	background:transparent;
	border:transparent;
}
.white_box
{
	background:#fff;
	padding:6px;
	display:inline-block;
	width:100%;
	text-align:left;
	color:#333;
	   font-size: 12px;
    line-height: 1.2;
}
.white_box_hide_show
{
	background:#fff;
	padding:6px;
	display:inline-block;
	width:100%;
	text-align:left;
}
.white_box_hide_show h4
{
	display:inline-block;
	font-size:20px;
	margin:0px;
}
.white_box_hide_show .pull-right img
{
	margin-top: 2px;
    width: 17px;
	cursor:pointer;
	display:inline-block;
}
.show_box
{
	display:inline-block;
}
.box_show
{
	display:inline-block;
	width:100%;
	color:#333;
	padding-top:20px;
}
.box_show .item-avatar
{
	padding-left:0px;
	padding:10px 4px;
}
.box_show .item
{
	border:none;
}
.box_show .full-width.col-90
{
	display:inline-block;
	width:100%;
}
.box_show .full-width.col-90 p
{
	color:#333;
	text-overflow: unset;
    white-space: normal;
	font-size:12px;
	width:100%;
	line-height:1.2;
}
.flot_none
{
	float:none !important;
}
.user_image
{
	border: 2px solid #4eaea6;
  border-radius: 100%;
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100px !important;
}
.color_white
{
	color:#fff;
}
.color_grey
{
	color:grey;
}
.user_chat
{
	padding:10px;
	display:inline-block;
	width:100%;
}
.user_chat .col-20 img
{
    border-radius: 100%;
    height:40px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 40px;
}
.gray_chat_box
{
	background:transparent;
	border-radius:8px;
	padding:6px;
	width:100%;
	display:inline-block;
	margin-left:10px;
	position:relative;
	border: 1px solid #fff !important;
}
.gray_chat_box_icon
{
	left: -14px;
    position: absolute;
    top: 4px;
}
.height
{
	max-height:374px;
	overflow-y:auto;
	height:344px;
	
}

.your_chat
{
	padding:10px;
	display:inline-block;
	width:100%;
}
.your_chat .col-20 img
{
    border-radius: 100%;
    height:40px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 40px;
}
.your_chat .gray_chat_box_icon
{
     position: absolute;
    right: -17px;
    top: 4px;
}
.your_chat .gray_chat_box
{
	margin-left:-12px;
	float:left;
	margin-right:10px;
}
.chat
{
}
.chat .col.col-80
{
	padding:0px;
}
.chat .form-control
{
	background:#f4f1f1;
	border-radius:0px;
	border:none;
	margin:0px;
	padding-left:0px;
	margin-top:0px;
	color:#333;
	padding:2px 6px;
}
.chat .form-control:focus
{
	border-bottom:none !important;
	box-shadow:none !important;
}
.chat input:focus
{
	border-bottom:none;
	box-shadow:none;
}
.padding0
{
	padding:0px;
}
.chat .full-width .col.col-20 .button.button-assertive
{
	border-radius:0px;
	margin-left:2px;
	margin-top:-5px;

}
.chat .full-width .col.col-20 .button.button-assertive .ion-paper-airplane
{
	font-size:20px;
}
.chat input::-moz-placeholder,
.chat textarea::-moz-placeholder {
  color: #333;
  font-weight:bold;
  opacity:100% !important;
   }

.chat input:-ms-input-placeholder,
.chat textarea:-ms-input-placeholder {
  color: #333; }

.chat input::-webkit-input-placeholder,
.chat textarea::-webkit-input-placeholder {
  color: #333;
  text-indent: 0;
  }
  .title.title-center.header-item
  {
	  left:0px !important;
	  right:0px !important;
  }
  .edit_profile
  {
	  position:relative;
  }
  .edit_profile_icon
  {
	  color: #fff;
    cursor: pointer;
    display: inline-block;
    position: absolute;
      right: 12px;
    top: 0px;  }
    .edit_profile_icon i
    {
    	font-size: 20px;
    }
  .location_icon
  {
	    margin-top: -4px;
    top: -13px;
    width: 15px;

  }
   .edit_profile p
   {
	   display:inline-block;
	   width:auto !important;
	   text-align:left !important;
   }
  .edit_profile  [type="checkbox"] + label
  {
	  padding-left:25px !important;
	 
  }
  .logout_icon {
    width: 17px;
}

.logout_content
{
	display:inline-block;
	color:#fff !important;
}
.side_menu1
{
}
.side_menu1 .item
{
	background:transparent !important;
}
.position_camera
{
	position:absolute;
	right: 82px;
    top: 72px;
	cursor:pointer;
	display:inline-block;
}
.button.button-stable
{
	 background-color: transparent;
    border: 2px solid;
    color: #fff;
}
.button.button-stable:hover
{
	background-color: transparent;
    border: 2px solid;
    color: #fff;
}
.border_bottom
{
	border-bottom:1px solid #fff;
}

.float-none
{
	float: none !important; 
}
.text-left
{
	text-align: left;
}
.edit_profile_icon img
{
	width: 20px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.detail_background
{
	color: #333;
	background: #fff;
}
.displinline
{
	display: inline-block;
}
.bar .buttons span.back-text
{
	display: none;
}.margin-bottom10
{
margin-bottom: 14px;
 display: flex;
}

.user {
    font-weight: bold;
}

.current-user {
    float: left;
    clear: both;
}

.not-current-user {
    float: right;
    clear: both;
}

.current-user .details {
  /*background-color: #72CBFF;*/
}

.not-current-user .details {
  /*background-color: #DCDCDC;*/
}
.gray_chat_box_new {
    background: transparent;
    border-radius: 8px;
    padding: 4px;
    width: 50%;
    display: inline-block;
    /* margin-left: 10px; */
    position: relative;
    border: 1px solid #fff !important;
}
.button-new{
  border-color: transparent;
  /* background-color: #ef473a; */
  color: #fff;
  float: right;

}

.col-30 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 30%;
}

.col-70 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 70%;
}

.borderbottom
{
	border-bottom:1px solid #fff !important; 
}

.margintop13
{
	 margin-top:13px !important; 
}

.ion-android-star, .ion-android-star-outline
{
	margin: 7px;
}

.nobutton{
  background: transparent;
  border: none;
}

#clickableAwesomeFont {
     cursor: pointer
}

.red_error{
	color:red;
}