<ion-view class="background forgot">
	<ion-content class="padding">
 		<center>
 			<!-- <a ui-sref="login"><i class="ion-android-arrow-back"></i></a> -->
		 	<!-- <h4 class="hadiing">FORGOT</h4> -->
		 	<div class="col col-90">
	 			<form name="addCourseForm" role="form" novalidate>
	 			<h4 class="hadiing"></h4>
				<img src="img/logo.png" class="margintop20">
				<div class="position margintop20">
	      	<label class="item item-input item-floating-label">
	    			<input type="text" name="course" placeholder="{{'course' | translate}}" ng-model="course.name" required>
	  			</label>
	  			<span class="red_error" ng-show="addCourseForm.course.$touched && addCourseForm.course.$error.required">{{'course_required_error' | translate}}.</span>
				  <div class="position_ab">
				  	<img src="img/email.png">
				  </div>  
	  		</div> 
	  		<a class="button button-assertive radies" ng-disabled="!addCourseForm.$valid" ng-click="submitCourse()">
				  {{'submit' | translate}}
				</a> 
			</div>
 		</center> 
	</ion-content>
</ion-view>