<ion-view style="background-color:#82C3E9;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page-card22">
      <ion-item class="item-avatar" id="page-list-item16">
       <!--  <p class="ion-edit"></p> -->
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item1 item-body" id="page-list-item-container6">
        <div id="page-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px; text-align: center;">
            <strong>{{searchedUser.username}}</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left " id="page-list-item17" style="background-color: #82C3E9;text-align: center;">
        <ion-list>
        	<label class="item1 item-input" id="page-input4">
        		<span class="input-label">{{'first_name' | translate}}</span>
            <input type="text" placeholder="{{'first_name' | translate}}" ng-model=searchedUser.firstname disabled>
        	</label>
      	</ion-list>
      	<ion-list>
        	<label class="item1 item-input" id="page-input4">
        		<span class="input-label">{{'last_name' | translate}}</span>
            <input type="text" placeholder="{{'last_name' | translate}}" ng-model=searchedUser.lastname disabled>
        	</label>
      	</ion-list>
      	<ion-list>
        	<label class="item1 item-input" id="page-input4">
        		<span class="input-label">{{'email' | translate}}</span>
            <input type="text" placeholder="{{'email' | translate}}" ng-model=searchedUser.email disabled>
        	</label>
      	</ion-list>
      	<ion-list>
        	<label class="item1 item-input" id="page-input4">
        		<span class="input-label">{{'type' | translate}}</span>
            <input type="text" placeholder="{{'type' | translate}}" ng-model=searchedUser.type disabled>
        	</label>
      	</ion-list>
      </ion-item>
    </div>
    <button id="page-button2" style="color:#FEFEFB;border-radius:40px 40px 40px 40px;" class="button button-positive  button-block" ng-click="">{{'connect' | translate}}</button>
  </ion-content>
</ion-view>