<ion-view view-title="{{'home' | translate}}" class="background home">
  <ion-content class="padding">
    <div class="col col-100">
      <div class="col-50">
        <input value="Teacher" id="radio1" name="teacher" type="radio" checked="checked" ng-model="type.name">
        <label for="radio1">{{'teacher' | translate}}
        </label>
      </div>
      <div class="col-50 marginleft10">
        <input value="Student" id="radio2" name="student" type="radio" ng-model="type.name">
        <label for="radio2">{{'student' | translate}}
        </label>
      </div>
      <a class="waves-effect waves-light button button-stable pull-right"  ng-click="search()">{{'search' | translate}}</a>
      <div class="full-width margintop10 position">
        <input type="tex" class="form-control" placeholder="{{'username' | translate}}" ng-model="username">
        <div class="position_search">
          <img src="img/search.png">
        </div>
      </div>
      <div class="list margintop10 ">
        <div ng-repeat="result in searchResult | filter:username track by $index" ng-click="slectedProfile(result)">
          <a ng-if="$index%2 == '0'" class="item item-thumbnail-left margintop10 waves-effect waves-ligh wow fadeInRight"  href="">
            <img width="100%" ng-src="{{result.image}}">
            <h2>{{result.username}}</h2>
            <i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in result.rating track by $index"></i>
            <i class="icon ion-android-star-outline color_grey" ng-if="rate == 0" ng-repeat="rate in result.rating track by $index"></i>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
          </a>
          <a ng-if="$index%2 != '0'" class="item item-thumbnail-left margintop10 gray waves-effect waves-ligh wow fadeInLeft" href="">
            <img width="100%" ng-src="{{result.image}}">
            <h2>{{result.username}}</h2>
            <i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in result.rating track by $index"></i>
            <i class="icon ion-android-star-outline color_grey" ng-if="rate == 0" ng-repeat="rate in result.rating track by $index"></i>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p> -->
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>