<ion-view view-title="{{'home' | translate}}" class="background home" ng-init="getCourses()">
  <ion-content class="padding">
    <center>
      <div class="col col-90 flot_none">
        <center>
          <div class="position">
            <div class="user_image">
              <img width="100%" ng-src="{{loggedInUser.image}}">
            </div>
          </div>
          <i class="icon ion-android-star gold" ng-if="rate == 1" ng-repeat="rate in loggedInUser.rating track by $index"></i>
          <i class="icon ion-android-star-outline color_white" ng-if="rate == 0" ng-repeat="rate in loggedInUser.rating track by $index"></i>
          <h5 class="color_white">{{loggedInUser.firstname}} {{loggedInUser.lastname}}</h5>
        </center>
        <h4 class="color_white">{{'Courses' | translate}}</h4>
        <a class="button button-stable radies waves-effect waves-ligh " ng-repeat="course in courses" >
          {{course}}
        </a> 
        <!-- <a class="button button-stable radies waves-effect waves-ligh margintop20" href="">
          ABC
        </a>  -->
        <a class="button button-assertive radies waves-effect waves-ligh" ng-click="addCourse()">{{'Add New Course' | translate}}
        </a> 
      </div>
    </center> 
  </ion-content>
</ion-view> 
